'.source.elixir':
  'def':
    'prefix': 'def'
    'body': 'def $1 do\n\t$0\nend'
  'defmacro':
    'prefix': 'defmacro'
    'body': 'defmacro $1 do\n\t$0\nend'
  'defmacrop':
    'prefix': 'defmacrop'
    'body': 'defmacrop $1 do\n\t$0\nend'
  'defmodule':
    'prefix': 'defmodule'
    'body': 'defmodule $1 do\n\t$0\nend'
  'defp':
    'prefix': 'defp'
    'body': 'defp $1 do\n\t$0\nend'
  'doc':
    'prefix': 'doc'
    'body': '@doc """\n$0\n"""'
  'moduledoc':
    'prefix': 'mdoc'
    'body': '@moduledoc """\n$0\n"""'
