'.source.elixir':
  'editor':
    'commentStart': '# '
    'increaseIndentPattern': '(after|else|catch|rescue|^.*(do|<\\-|\\->|\\{|\\[))\\s*$'
    'decreaseIndentPattern': '^\\s*((\\}|\\])\\s*$|(after|else|catch|rescue|end)\\b)'
